name: maven publish

on:
  push:
    branches:
      - 'releases/**'
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '11'
      - name: Build and create disctribution archive
        run: ./gradlew clean build distZip
      - name: Create new release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/distributions/release.zip"
          token: ${{ secrets.TOKEN_GITHUB }}
